body 
{
    padding-top: 56px;
}
a
{
    cursor: pointer;
}
footer
{
    position: fixed;
    bottom: 0;
    z-index: 74;
}
/* Message Alert */
#alertMessage 
{
    position: absolute;
    width: 500px;
    top: 60px;
    right: calc(50% - 250px);
    z-index: 77;
}

/* authentification */
#authentification
{
    position: relative;
}

#authentificationContent
{
    position: absolute;
    top: 30%;
}

/* home */
#home
{
    position: relative;
}

#homeContent
{
    width: 500px;
    position: absolute;
    top: 20%;
    right: calc(50% - 250px);
}

/* Agenda */

#divAgenda
{
    display: flex;
    flex-direction: column;
}

#infosEvent
{
    display: none;
}

#confirmation
{
    display: none;
}

#divCreateEvent
{
    display: none;
}

/* Profil */

#imgBtnOpen
{
    display: none;
}

#div_btnChangePassword
{
    display: none;
}