html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body,
#bodyContent,
#divAccueil, #divPhoto, #divProfil {
    margin: 0px;
    padding: 0px;
    min-height: 1200px;
    width: 100%;
}

body 
{
    padding-top: 56px;
}

a
{
    cursor: pointer;
}
.form-check-input
{
    position: inherit
}
/* Message Alert */
#alertMessage 
{
    position: absolute;
    width: 500px;
    top: 60px;
    right: calc(50% - 250px);
    z-index: 77;
}

/* Agenda */

#divAgenda
{
    display: flex;
    flex-direction: column;
}

#infosEvent
{
    display: none;
}

#confirmation
{
    display: none;
}

#divCreateEvent
{
    display: none;
}

/* Profil */

#imgBtnOpen
{
    display: none;
}

#div_btnChangePassword
{
    display: none;
}

@media screen and (max-width: 600px)
{
    #calendar
    {
        height: 600px;
        overflow: scroll;
    }
}